@import 'variables';

/* Store start*/

h2.banner {
    display: inline-block;
    width: 100%;
    grid-area: banner;
    font-size: 250%;
    color: $primary_color;
}

.arrowUp1 {
    @include centerBox;
    align-self: center;
    padding-bottom: 5%;
    font-size: 350%;
    color: $key_word;
    transition: 1s;
}

.arrowUp1:hover {
    color: $primary_color;
    }
/* Store end */