/* Colors */
$primary_background: #2E2C20;
$key_word: #5EBCAF;
$primary_color: white;
$fontCoWi: white;
$holive_gradient: linear-gradient(180deg, #5EBCAF 0%, #42402E 100%);
$nav_back_co: #42402E;

/* Box Shadow */
$box_shadow_prop: 0 0 15px rgba(0, 0, 0, 0.5);